<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title || 'Mi Aplicación' %></title>
</head>
<body>
    <header>
        <%- include('partials/navbar') %> <!-- Incluye la barra de navegación -->
    </header>

    <main>
        <!-- Aquí se renderiza el contenido específico de cada vista -->
        <%- body %>
    </main>

    <footer>
        <%- include('partials/footer') %> <!-- Incluye el pie de página -->
    </footer>
</body>
</html>