<nav>
    <ul class="flex justify-around bg-blue-500 text-white py-3">
      <li><a href="/" class="hover:text-gray-300">Inicio</a></li>
      <li><a href="/heroes" class="hover:text-gray-300">Lista de SuperHéroes</a></li>
      <li><a href="/heroes/agregar" class="hover:text-gray-300">Agregar SuperHéroe</a></li>
    </ul>
  </nav>